.navbar {
    background: linear-gradient(90deg, #010c80 0%, #003d99 100%);
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    border-bottom: 3px solid #FFD700;
}

.app-logo {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
}

.app-logo h1 {
    margin: 0;
    font-size: 1em;
}

.navbar-links {
    display: flex;
    gap: 25px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 4px;
}

.nav-link:hover {
    background-color: #3f51b5;
    color: #e8eaf6;
}


@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        padding: 10px 15px;
    }

    .navbar-links {
        margin-top: 10px;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
}